div.test1 {
  width: 100px;
  height: 100px;
  background: red;
}
div.test1:hover {
  animation: fade-in-bottom 1s ease both;
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;

  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
